.text {
      width: 450px;
	  border: 3px solid #000000;
      background-color: aqua;
	  margin-left: auto;
      margin-right: auto;
	
    
}
.img1 {
	  display: block;
      margin-left: auto;
      margin-right: auto
}
.block {
	   display: flex;
	   justify-content: space-between;
	   height: 201px;
	   width: 800px;
	   border: 1px solid #000000;
	   margin-left: auto;
       margin-right: auto;
	
}
.block img {
	   width: 200px;
	   height: 200px;
}
p {
	font-style: oblique;
	font-weight: 800;
}